# AWS S3 Configuration for Case Study Media Presigned URLs
VITE_AWS_REGION=eu-north-1
VITE_AWS_ACCESS_KEY_ID=
VITE_AWS_SECRET_ACCESS_KEY=
VITE_AWS_SESSION_TOKEN=
VITE_AWS_S3_BUCKET=kravendev.dev.media
VITE_AWS_ENDPOINT=

# Resend API Key for Booking Discovery Calls
RESEND_API_KEY=
